html {
  font-family: sans-serif;
}

div {
  width: 600px;
  height: 400px;
  
  box-shadow: 
  10px 10px 8px black,
  inset 5px 5px 3px rgba(255, 255, 255, 0.436),
  inset -5px -5px 3px rgba(0, 0, 0, 0.436);
}